.wrapper {
    position: relative;
    width: 2400px;
    height: 800px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.num-inp {
    width: 37px;
}

.main-layout {
    display: flex;
    align-items: flex-start;
}

.voices-list {
    width: 200px;
    flex-shrink: 0;
    margin-right: 20px;
    font-family: sans-serif;
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    column-gap: 10px;
    min-height: 800px; /* match canvas height */
}

.voice {
    width: 140px;
}

.opa {
    width: 140px;
}

.voice-box {
    border: 4px solid #1f1f1f;
    border-radius: 10%;
    background: #898989;
    width: 180px;
    height: 180px;
    align-items: center;
    margin-bottom: 10px;
}